<!DOCTYPE html>
<html ng-app="accredibleApp">
<head>
	<title>Accredible Embeddable Certificate Customiser</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"> 
</head>
<body>
	<article>
		<section>
			<div>
				<h1>Accredible Embeddable Certificate Customiser</h1>
			</div>
		</section>
		<section>
			<div>
				<h2>Select Your Credential</h2>
				<p>I don't have an API-KEY to do this...</p>
			</div>
		</section>
		<section>
			<div>
				<h2>Customise Your Credential</h2>
				<div ng-controller="CustomiseController">
					<form>
						<label>
							<span>Width</span>
							<input type="number" min="200" step="10" placeholder="width" ng-model="width" ng-change="proportionCheck('width');">
						</label>
						<label>
							<span>Height</span>
							<input type="number" min="200" step="10" placeholder="height" ng-model="height" ng-change="proportionCheck('height');">
						</label>
						<label>
							<span>Maintain proportion?</span>
							<input type="checkbox" ng-model="maintainProportion" ng-change="proportionCheck();">
						</label>
						<label>
							<span>Show logo?</span>
							<input type="checkbox" ng-model="showLogo">
						</label>
					</form>
					<h3>Copy this HTML snippet to your site</h3>
					<pre>{{ html }}</pre>
					<h3>Preview</h3>
					<div id="preview" ng-bind-html="html | unsafe"></div>
				</div>
			</div>
		</section>
		<section>
			<div>
				<h1>Notes</h1>
				<p>I'm just adding notes as I go...</p>
				<h2>Static File Server</h2>
				<p>In order to properly use proper angular templates, we need to use http:// rather than file://</p>
				<pre>npm install http-server -g
http-server</pre>
				<h2>SASS compilation</h2>
				<pre>sass --sourcemap=none --watch css/style.scss:css/style.css</pre>
				<h2>Todo</h2>
				<ul>
					<li>Simple service to share the current credential ID</li>
					<li>Get an API KEY so I can list all credentials</li>
				</ul>
				<h2>Feedback</h2>
				<p>Instead of rendering basic HTML (&lt;img&gt; + &lt;a&gt;) I think a hosted, embedded &lt;iframe&gt; would have much more scope for usability and future changes.</p>
				<p>Since &lt;iframes&gt; can be session-aware, accredible could taylor the viewing experience to the current user, ie:</p>
				<p style="text-align: center;">
					<img src="gfx/iframe.png">
					<br>
					When I view a Google map I can: star the location, get directions etc.
				</p>
				<p>For accredible this could be a similar service: prompt to register / login, star this course etc.</p>
			</div>
		</section>
		<section>
			<div>
				<h1>Summary / Specification</h1>
				<h2>Embeddable certificate customiser</h2>
				<h3>Description</h3>
				<p>I, as a certificate recipient would like to be able to embed my certificate in my website. I&rsquo;d like to be able to customise the embed to change its size and which elements are included.</p>
				<h3>Deliverables</h3>
				<ol>
					<li>A repository of the code you produced.</li>
					<li>A quick video where you demo the project (production values aren&#39;t important - just how you&#39;d show the project to us in person)</li>
				</ol>
				<h3>Assessment Guidelines</h3>
				<ul>
					<li>This should take around 3 hours to get something usable finished</li>
					<ul>
						<li>Take as long as you like</li>
					</ul>
					<li>First and foremost, fulfill the requirements</li>
					<li>Go ahead and use boilerplates</li>
					<li>Ask as many questions as you need to</li>
					<ul>
						<li><a href="mailto:alan@accredible.com">alan@accredible.com</a></li>
						<li><a href="mailto:ryan@accredible.com">ryan@accredible.com</a></li>
					</ul>
				</ul>
				<h3>Tools</h3>
				<ul>
					<li>Public Accredible API: <strong>http://docs.accrediblecredentialapi.apiary.io/</strong></li>
					<ul>
						<li>Example, reliable credentials</li>
						<ul>
							<li><strong>https://api.accredible.com/v1/credentials/10000005</strong></li>
						</ul>
					</ul>
					<li>Credential preview images are found at <strong>https://s3.amazonaws.com/staging_accredible_api_mails/10000005</strong></li>
					<li>Credentials should link to <strong>https://www.credential.net/10000005</strong></li>
					<li>Other resources:</li>
					<ul>
						<li>An example certificate for reference: <strong>https://www.credential.net/10000005</strong></li>
						<li>Public Accredible API: <strong>http://docs.accrediblecredentialapi.apiary.io/</strong></li>
					</ul>
				</ul>
			</div>
		</section>
	</article>
	<footer>
		<div>
			<p>Bish bash bosh - David King</p>
		</div>
	</footer>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular-animate.min.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>