@import 'normalize';


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


@mixin centredcolumn {
	width: 800px;
	margin: 0 auto;
	padding: 1px 0;
}


body {
  font: 100% $font-stack;
  color: $primary-color;
}
article {
	> section {
		&:nth-of-type(odd) {
			background-color: #EEEEEE;
		}
		> div {
			@include centredcolumn;
		}
	}
}
footer {
	background-color: #02162B;
    color: #FFFFFF;
	> div {
		@include centredcolumn;
		text-align: center;
	}
}
pre {
	padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #02162B;
    color: #FFFFFF;
    border-radius: 3px;
}